apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  # name must match the spec fields below, and be in the form: <plural>.<group>
  name: expressions.example.org
spec:
  # group name to use for REST API: /apis/<group>/<version>
  group: example.org
  names:
    # kind is normally the CamelCased singular type. Your resource manifests use this.
    kind: Expression
    listKind: ExpressionList
    # plural name to be used in the URL: /apis/<group>/<version>/<plural>
    plural: expressions
    # singular name to be used as an alias on the CLI and for display
    singular: expression
    # shortNames allow shorter string to match your resource on the CLI
    shortNames:
    - exp
  # either Namespaced or Cluster
  scope: Namespaced
  # list of versions supported by this CustomResourceDefinition
  versions:
  - name: v1alpha1
    additionalPrinterColumns:
    - jsonPath: .spec.body
      description: The expression to evaluate
      name: Expression
      type: string
    - jsonPath: .status.result
      description: The exoression evaluation result
      name: Result
      type: string
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            properties:
              body:
                type: string
              data:
                type: string
            required:
            - body
            - data
            type: object
          status:
            properties:
              result:
                type: string
              error:
                type: string
            type: object
        type: object
    # Each version can be enabled/disabled by Served flag
    served: true
    # One and only one version must be marked as the storage version
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []